<!DOCTYPE html>

<table class = "table table-striped table-hover contact-table">
 <caption id="table-heading">Your Contacts</caption>
 <thead class="thead-inverse">
    <tr>
       <th>First Name</th>
       <th>Last Name</th>
       <th>Email</th>
       <th>Phone Number</th>
       <th>Twitter</th>
       <th>LinkedIn</th>
    </tr>
 </thead>
 <tbody>
   {{!-- {{#each this}}
    <tr>
       <td>{{first-name}}</td>
       <td>{{last-name}}</td>
       <td>{{email}}</td>
       <td>{{phone}}</td>
       <td>{{twitter}}</td>
       <td>{{linked-in}}</td>
       <td>
         <button class="edit-delete-buttons edit"><i class="fa fa-pencil"></i></button>
         <button class="edit-delete-buttons delete-contact"><i class="fa fa-trash"></i></button>
       </td>
    </tr>
    {{/each}} --}}
 </tbody>
</table>
