<!DOCTYPE html>
{{!-- build a form if we are editing --}}
{{#if edit}}
<form class="editing-contacts-form">
{{/if}}

{{!-- loop through our key / value pairs and set them to the page or as inputs --}}
{{#each this}}
  {{#unless @last}}
    {{#if ../edit}}
      <input class="contact-edit-input" type="text" name="{{@key}}" value="{{this}}">
    {{else}}
      <div class="contact-edit-input"> {{this}} </div>
    {{/if}}
  {{/unless}}
{{/each}}

{{!-- output the correct button types at the end --}}
{{#if edit}}
  <button class="edit-delete-buttons cancel-edit"><i class="fa fa-times"></i></button>
  <button class="edit-delete-buttons submit-contact-edit" type="submit" ><i class="fa fa-pencil-square-o"></i></button>
</form>
{{else}}
  <td>
    <button class="edit-delete-buttons edit-contact"><i class="fa fa-pencil"></i></button>
    <button class="edit-delete-buttons delete-contact"><i class="fa fa-trash"></i></button>
  </td>
{{/if}}
